body { 
    font-family: "Open Sans", sans-serif !important;
    margin: 0; 
}

.foo {
    font-family: "Open Sans", sans-serif !important;
    font-size: 0.8rem;
    font-weight: 500;
    color: gray;
}

.form-control {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600;
    font-size: 0.8rem;
    color: cadetblue;
}
.text-danger{
    font-size: 14px;
}

