body { 
    font-family: "Open Sans", sans-serif !important;
    margin: 0; 
}

table{
    font-family: "Open Sans", sans-serif !important;
    font-size: 0.8rem;
    font-weight: 600;
    color: cadetblue;
    
    > :not(caption) > * > * {
        padding: 5px !important;
        text-align: center;
    }

    tr {
        vertical-align: middle; /* Middle align all content within row */
    }
}