<div class="background">
    <div class="overlay">
      <div class="container text-container">
        <div style="margin-top: 100px;"></div>
        <div>
          <img src="assets/images/max.png"  class="printPreview" width="30%" height="30%">
        </div>
        <div style="margin-top: 20px;"></div>
        <div>
          <h1>Golden QR Code Generator</h1>
        </div>
        <div style="margin-top: 20px;"></div>
        <div class="qr-code">
          <button class="btn btn-light" routerLink="/customermaster" >Generate Qr Code</button>
        </div>
      </div>
    </div>
  </div>
  
